[submodule "qpp-openscad-library"]
	path = qpp-openscad-library
	url = https://github.com/kubikji2/qpp-openscad-library
	branch = master
	
[submodule "solidpp"]
	path = solidpp
	url = https://github.com/kubikji2/solidpp
	branch = master

[submodule "external/threads-scad"]
	path = external/threads-scad
	url = https://github.com/rcolyer/threads-scad.git
	branch = master

[submodule "deez-nuts"]
	path = deez-nuts
	url = https://github.com/kubikji2/deez-nuts.git
	branch = master